*{
    font-family: 'Poppins', sans-serif;
}
.bg-brand{
    background-color: #f3f5f9;
}
.bg-brand-container{
    min-height: 10vh;
}
.form-control:focus{
    border-color: black;
    box-shadow: 0 0 0 black;
}